{% trans_default_domain 'messages' %}
{% if manager.individual.categories|length > 0 %}
    <p>{{ 'Categories'|trans }}:
    {% for category in manager.individual.categories %}
        <a href="{{ absolute_url(path('genealogy_category_modify', {category: category.name})) }}" target="_blank">{{ category.name }}</a>
        {% if manager.individual.categories|last is not same as(category) %}
            {{ ' | ' }}
        {% endif %}
    {% endfor %}</p>
{% endif %}