body {
}
.body {
    align-content: center;
}
.header {
    flex: 9;
    min-height: 75px;
    background-color: #F0FFF0;
}

.formWidget {
    width: 45%;
    float: right;
}
.formWidget input, .formWidget textarea, .formWidget select {
    width: 95%;
}

.formWidget button {
    float: right;
    margin-right: 30px;
}
.help-text {
    font-style: italic;
}
.copyData {
    color: blue;
}
.right_half {
    float: right;
    max-width: 540px;
    width: 40%
}
.left-half {
    float:left;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #003300;
}
h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: #003300;
}
h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #003300;
}
.centre, .center {
    text-align: center;
}
.flexbox-container {
    display: flex;
}
.flexbox {
    display: flex;
}
.flexbox div {
    flex: 1;
}
.border {
    background-color: #f0fff0;
    flex: 1;
}
.withBorder {
    border: 1px solid darkgreen;
    margin: 0 0 -1px -1px;
}
.withBorderFirst {
    border: 1px solid darkgreen;
    margin: -1px 0 -1px -1px;
}
div.form_element > select[multiple=multiple] {
    height: 150px;
}
.remove_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #003300;
}
h3 + p {
    margin-top: 8px;
}
p {
    margin: 4px 0;
}