body {
    background-color: white;
}
.body {
    align-content: center;
}
.header {
    flex: 9;
}
.main-container {
    margin: -1px -3px;
    border: 1px solid darkgreen;
    padding: 0 3px 13px;
}
.formElement {
    border: solid 1px darkgreen;
}
.formLabel {
    text-align: left;
}
.formWidget {
    width: 45%;
    float: right;
}
.formWidget input, .formWidget textarea, .formWidget select {
    width: 95%;
}
.formWidget select {
    min-width: 98%;
    max-width: 98%;
}
.formWidget select.multipleChoice {
    height: 240px;
    margin-top: 5px;
}
.formWidget button {
    float: right;
    margin-right: 30px;
}
.help-text {
    font-style: italic;
}
.copyData {
    color: blue;
}
.right_half {
    float: right;
    max-width: 540px;
    width: 40%
}
.left-half {
    float:left;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: darkgreen;
}
h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: darkgreen;
}
h3 {
    font-size: 1.25em;
    font-weight: bold;
    color: darkgreen;
}
h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: darkgreen;
}
.centre {
    text-align: center;
}
a {
    font-size: 1.0em;
    color: darkgreen;
}
a:visited {
    color: darkgreen;
}
.flexbox-container {
    display: flex;
    clear: both;
    min-height: 75px;
    background-color: #f6ffed;
}
.flexbox {
    display: flex;
}
.flexbox div {
    flex: 1;
}
.main {
    flex:6;
    padding: 0 2px;
    border: 1px solid darkgreen;
}
.sidebar {
    flex:3;
    padding: 0 8px;
    margin-left: -1px;
    border: 1px solid darkgreen;
}
.border {
    background-color: white;
    flex: 1;
}
.form-label {
    font-weight: bold;
}
.sidebar-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid darkgreen;
    padding: 5px 0 10px;
}
.collapsed {
    visibility: collapse;
    max-height: 0;
}
div.form_element {
    flex: 1;
}
div.form_element > select,
div.form_element > input,
div.form_element > button {
    height: 25px;
    width: 100%;
    border-radius: 10px;
}
div.form_element > p  {
    margin: 0 3px;
}
.help-text {
    font-style: italic;
    flex: 1;
    color: darkgreen;
}
.form_label {
    flex: 1;
    font-weight: bold;
    color: darkgreen;
}
div.form_element > select[multiple=multiple] {
    height: 150px;
}
.remove_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: darkgreen;
}