<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Genealogy Project">
        <meta name="keywords" content="Genealogy,gedcom">
        <meta name="author" content="Craig Rayner">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Genealogy Project{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        <div class="body">
            <div class="container">
                {% block body %}
                    This is it
                    {{ dump(stuff) }}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
